################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaEstoque/FileContentIndex/7bc84ad6-b0cd-4c35-b0aa-faa3f8c5cc41.vsidx
/.vs/SistemaEstoque/FileContentIndex/7bc84ad6-b0cd-4c35-b0aa-faa3f8c5cc41.vsidx
