################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaEstoque/FileContentIndex/7bc84ad6-b0cd-4c35-b0aa-faa3f8c5cc41.vsidx
/.vs/SistemaEstoque/FileContentIndex/7bc84ad6-b0cd-4c35-b0aa-faa3f8c5cc41.vsidx
/obj/Debug/net9.0/rpswa.dswa.cache.json
/obj/Debug/net9.0/SistemaEstoque.AssemblyInfo.cs
/obj/Debug/net9.0/SistemaEstoque.AssemblyInfoInputs.cache
/obj/Debug/net9.0/SistemaEstoque.csproj.AssemblyReference.cache
/obj/Debug/net9.0/SistemaEstoque.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0/SistemaEstoque.RazorAssemblyInfo.cache
/obj/Debug/net9.0/SistemaEstoque.RazorAssemblyInfo.cs
/obj/project.nuget.cache
/.vs/SistemaEstoque/FileContentIndex/a5cc4510-6ccc-43bd-b9c3-41eadc58cc6b.vsidx
/.vs/SistemaEstoque/FileContentIndex/a5d0e4b6-c390-44ca-9490-ad972402866b.vsidx
